@charset "UTF-8";
/* Tudo que eu colocar em HTML "id" = no Css é "#" (só pode 1 elemento por página)
O que em HTML é "class = no CSS é "." (pode vários elementos por página) */
body {
  background-color: rgb(205, 255, 203);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(4, 109, 0) ;
}
h1#principal {
  text-align: center;
  background-color: rgb(4, 109, 0);
  color: white;
}

h2 {
  color: rgb(73, 109, 49);
}

.basico {
  color: #3c805e;
  font-weight: bold; /*negrito*/

}
.intermediario {
color:  #6c803c;
}
.avançado {
color:  #803c3c;
}
.destaque {
  background-color: rgba(197, 197, 0, 0.438);
}